@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p.danger {
  color: rgb(255, 20, 20);
  font-size: 15px;
  margin:0.5rem;
  padding: 0;
  display: flex;
}

input.danger {
border: 1px solid rgb(255, 30, 30);
}
textarea.danger {
border: 2px solid rgb(255, 109, 72);
}
